body {
    margin: 0px 50px 0px 50px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

/* Header */

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    height: 70px;
}

.nav_links {
    display: flex;
}

.nav_links a {
    text-decoration: none; 
    color: #333;
    font-size: 1rem; 
    font-family: Arial, sans-serif;
    padding: 2em;
    border-top: 3px solid white;
}

.inscrire{
    text-decoration: none; 
    color: rgb(0, 110, 255) !important;
    font-weight: bold;
}

.nav_links a:hover{ 
    color: rgb(0, 110, 255);
    text-shadow: 0 0 0.5px rgb(0, 110, 255);
    border-top: 3px solid rgb(0, 110, 255) ;
}

/* Header */

/* Main Section Recherche */
.recherche h1 {
    font-size: 2rem;
}

.formulaire{
    display: flex;
    align-items: center;
    height: 45px;

}

.SearchIcon{
    background-color: rgb(233, 233, 233);
    height: 115%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchIconIcon{
    height: 50%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0px 15px 0px 15px;
}


#recherche{
    height:100%;
    width: 200px;
    border: 0px solid rgb(218, 218, 218);
    border-top: 2px solid rgb(218, 218, 218);
    border-bottom: 2px solid rgb(218, 218, 218);
    font-weight: bold;
    color: rgb(168, 168, 168);
}

.SearchBouton{
    background-color: rgb(0, 110, 255);
    border: none;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    height: 115%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0px 15px 0px 15px;
}

/* Main Section Recherche */

/*Filtres*/
.filtres{
    display: flex;
}

.categorie{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Filtres*/

/**/

/**/

/**/

/**/