*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.fa, .fas {
    font-weight: 900;
}

.ratingIcon {
    color: #0065fc;
}

.ratingIconGrey {
    color: #ccc;
}

.card_transition:hover {
    transition: 0.2s ease;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1375px;
    margin: 0 auto;
    height: 80px;
}

header nav {
    height: 100%;
    display: flex;
}

header img {
    height: 60px;
}

header nav > a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 0 30px;
    border-top: 3px solid white;
    font-weight: 500;
}

header nav > a:hover {
    border-top: 3px solid #0065fc;
    color: #0065fc;
}

header #register {
    color: #0065fc;
    font-weight: 700;
}

/* MAIN */


main {
    max-width: 1360px;
    margin: 0 auto;
}



/* SEARCH SECTION */

#search h1{
    font-size: 30px;
    padding: 20px 0;
}

#search #search_title span {
    font-weight: 400;
    padding-bottom: 20px;
    display: block;
    font-size: 15px;
}

#search form {
    display: grid;
    grid-template-columns: 3.5rem 13rem 7rem;
    height: 50px;
}

#search form div {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

#search form input {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 800;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: 0;
    border-right: 0;
}

#search form button{
    border: 0;
    background-color: #0065fc;
    color: white;
    font-weight: 900;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#filter {
    height: 65px;
    display: flex;
    margin-top: 20px;
    gap: 40px;
    align-items: center;
}

#filter h2 {
    font-size: 26px;
}

#filter div {
    display: flex;
    gap: 40px;
}

#filter article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    transition: ease 0.2s;
}

#filter article:hover {
    color: #0065fc;
    transform: translateY(-10px);
}

#filter article div {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50%;
}

#filter i {
    color: #0065fc;
}

#filter span {
    font-weight: 700;
    font-size: 15px;
    margin: 0 20px;
}

#info {
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
    gap: 10px;
}

#info div {
    width: 10px;
    height: 10px;
    padding: 10px;
    border: 2px solid #f2f2f2;
    color: #0065fc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info .fas {
    font-size: 16px;
}




/* HOSTING SECTION */




/* MARSEILLE */

#marseille {
    display: flex;
    flex-direction: column;
}

#marseille img {
    height: 10rem;
    object-fit: cover;
    border-radius: 1.5rem 1.5rem 0 0;
}

#marseille a {
    width: 250px;
    height: 150px;
}